# Idea
.idea
*.iml

# Eclipse
.metadata
.classpath
.project
.settings

# Helm
charts/*.tgz
values.overrides.yaml
values_overrides.yaml
template_output.yaml
output.yaml
*.tgz

# Sensitive files
*.license
*.key
*.gpg
*.pgp

# Trivy
*.sarif
